<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="codigo">

    <script>
        const html = `${{{codigo.html}}}`
        const css = `${{{codigo.css}}}`
        const javascript = `${{{codigo.javascript}}}`

        document.getElementById('codigo').innerHTML += html.substring(1)
        document.getElementById('codigo').innerHTML += css.substring(1)

        setTimeout(function() {
            document.getElementById('script').textContent += javascript.substring(1)
        }, 1000)
    </script>
    
    <script id="script"></script>

</body>
</html>