.demonstracao2{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.demonstracao2 #iframe {
    width: 70vw;
    height: 70vh;
}

.telaCheia {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 20px;
}

.telaCheia svg {
    width: 40px;
    height: 40px;
    color: black;
    transition: 1s;
}

.telaCheia svg:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 200px 100px white;
    padding-bottom: 10px;
}

.codigo {
    display: flex;
    justify-content: space-around;
    margin: 70px 0 50px 0;
}

.codigo .textareCodigo .copy {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.codigo .textareCodigo .copy .status {
    width: 70%;
    text-align: end;
    color: green;
    display: none;
}

.codigo .textareCodigo .copy svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 1s;
}

.codigo .textareCodigo .copy svg:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 200px 100px white;
    padding-bottom: 5px;
}

.codigo .textareCodigo {
    display: flex;
    flex-direction: column;
}

.textareCodigo textarea {
    background-color: rgba(240, 248, 255, 0.4);
    border: 0;
    height: 400px;
    width: 30vw;
    z-index: 1;
    resize: none;
}

@media (width < 800px) {
    .demonstracao2 #iframe {
        width: 90vw;
        height: 90vh;
    }

    .codigo {
        flex-direction: column;
    }

    .codigo .textareCodigo {
        width: 90%;
        margin: auto auto 100px auto;
    }

    .codigo .textareCodigo .codigoTexto {
        width: 100%;
    }
}